<h2> All Users </h2>

<ul>
  <% listOfUsers.forEach((oneUser) => { %>
    <li>
      <h3> <%= oneUser.email %> </h3>

      <p>
        Registered On:
        <time> <%= oneUser.createdAt %> </time>
      </p>
    </li>
  <% }) %>
</ul>
